v4/builds/Bike[[:space:]]Breakdown/references/santa_cruz_v10_downhill_mountain_bicycle.glb filter=lfs diff=lfs merge=lfs -text
v4/builds/Bike[[:space:]]Breakdown/references/mountain_bicycle.glb filter=lfs diff=lfs merge=lfs -text
v4/builds/Bike[[:space:]]Breakdown/references/fixed_gear.glb filter=lfs diff=lfs merge=lfs -text
